.weather-app {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #89cff0, #ffffff);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 100px;
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
}

.city-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.main-weather-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Section cards */
.current-weather,
.weather-details,
.forecast {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  flex: 1;
  min-width: 300px;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}

.weather-details p {
  display: flex;
  margin: 5px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.forecast-day {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.forecast-day img {
  max-width: 100%;
  max-height: 50px;
  margin: 0 auto;
  display: block;
}

.forecast-day p {
  margin: 5px 0;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-weather-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
  }

  .current-weather,
  .weather-details,
  .forecast {
    margin-bottom: 20px;
  }

  .forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .forecast-day {
    width: 80px;
  }
}
